@using Itsyazilim.Web.Domain.Resources
    @{
    Layout = null;
    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ItsyazilimWebResources.lblError</title>
    </head>
    <body>
        <hgroup>
            <h1>@ItsyazilimWebResources.lblError</h1>
            <h2>@ItsyazilimWebResources.lblRequestProcessErrorMessage</h2>
        </hgroup>
    </body>
</html>
