@using Itsyazilim.Web.Domain.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@ItsyazilimWebResources.lblLockedOut</h1>
    <h2 class="text-danger">@ItsyazilimWebResources.lblLockedAccountMessage</h2>
</hgroup>
