@using Itsyazilim.Web.Domain.Resources
@using DevExpress.Web.Mvc.UI;
@model IEnumerable<Itsyazilim.Web.UI.Models.AdministratorSelectUnapprovedFirms_Result>

@{
    ViewBag.Title = ItsyazilimWebResources.lblWaitingCompanies;
    Layout = "~/Views/Shared/_Administrator.cshtml";
}

<script>
    $(document).find("a[ActionLink='UnApprovedFirmList']").parent().addClass("active");
</script>
<div class="padding-10">
    <table style="width: 100%">
        <tr>
            <td>
                <h2>
                    <i class="fa fa-check-square" style="padding: 0px 18px 0px 10px"></i>@ItsyazilimWebResources.lblWaitingCompanies
                </h2>
            </td>
        </tr>
    </table>
    <hr />



    @Html.Partial("_GridViewUnApprovedFirmList")
  


</div>
