<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LtsyazilimDatabaseEntities" connectionString="metadata=res://*/ORM.Itsyazilim.Data.csdl|res://*/ORM.Itsyazilim.Data.ssdl|res://*/ORM.Itsyazilim.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LTS-WEBSERVER;initial catalog=LtsWeb;persist security info=True;user id=ltstubitak;password=kjavux_7cd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>