
@{
    ViewBag.Title = "Ürün Cinsleri";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}
<script>
    $(document).find("a[ActionLink='DefProductTypes']").parent().addClass("active");
</script>
<div class="padding-10">
    <table style="width: 100%">
        <tr>
            <td>
                <h2>
                    <span class="glyphicon glyphicon-barcode" style="padding: 0px 10px 0px 10px"></span>
                    Ürün Cinsleri
                </h2>
            </td>
            <td style="text-align: right">
                <a href="javascript:GridViewDefProductTypes.AddNewRow()" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus" style="padding-right:5px"></i>Ürün Cinsi Ekle
                </a>
            </td>
        </tr>
    </table>
    <hr />
  
        @Html.Action("GridViewDefProductTypes")
   
</div>

