@{
    ViewBag.Title = "Ürün Özellikleri";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}
<script>
    $(document).find("a[ActionLink='DefProductProperties']").parent().addClass("active");
</script>
<div class="padding-10">
    <table style="width: 100%">
        <tr>
            <td>
                <h2>
                    <span class="fa fa-bookmark" style="padding: 0px 15px 0px 10px"></span>
                    Ürün Özellikleri
                </h2>
            </td>
            <td style="text-align: right">
                <a href="javascript:GridViewDefProductProperties.AddNewRow()" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus" style="padding-right:5px"></i>Ürün Özelliği Ekle
                </a>
            </td>
        </tr>
    </table>
    <hr />
    @Html.Action("GridViewDefProductProperties")
</div>

