USE [LtsWeb]
GO
/****** Object:  Table [dbo].[LogSystemMailSend]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogSystemMailSend](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[ErrorMessage] [nvarchar](500) NULL,
	[PageName] [nvarchar](50) NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Log_Error_MailSending] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogSystemMailSend] ON
INSERT [dbo].[LogSystemMailSend] ([LogId], [Email], [ErrorMessage], [PageName], [IP], [CreatedOn]) VALUES (6, N'dsfgsdfgsdfgsdf', N'The specified string is not in the form required for an e-mail address.', N'Register', N'85.99.226.201', CAST(0xA4020098 AS SmallDateTime))
INSERT [dbo].[LogSystemMailSend] ([LogId], [Email], [ErrorMessage], [PageName], [IP], [CreatedOn]) VALUES (7, N'hhhh@hakanhmzaoglu.com', N'Bad sequence of commands. The server response was: This mail server requires authentication when attempting to send to a non-local e-mail address. Please check your mail client settings or contact your administrator to verify that the domain or address is defined for this server.', N'RegisterReSendActivateCode', N'141.196.52.28', CAST(0xA4100097 AS SmallDateTime))
INSERT [dbo].[LogSystemMailSend] ([LogId], [Email], [ErrorMessage], [PageName], [IP], [CreatedOn]) VALUES (8, N'hhhh@hakanhmzaoglu.com', N'Bad sequence of commands. The server response was: This mail server requires authentication when attempting to send to a non-local e-mail address. Please check your mail client settings or contact your administrator to verify that the domain or address is defined for this server.', N'RegisterReSendActivateCode', N'141.196.52.28', CAST(0xA4100097 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogSystemMailSend] OFF
/****** Object:  Table [dbo].[LogMembershipSendPasswordRenewalCodes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMembershipSendPasswordRenewalCodes](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[Result] [tinyint] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_LogMembershipSendPasswordRenewalCodes] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogMembershipSendPasswordRenewalCodes] ON
INSERT [dbo].[LogMembershipSendPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (294, N'www@hakanhamzaoglu.com', 3, N'178.240.143.38', CAST(0xA4010311 AS SmallDateTime))
INSERT [dbo].[LogMembershipSendPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (295, N'www@hakanhamzaoglu.com', 3, N'178.240.143.38', CAST(0xA4010312 AS SmallDateTime))
INSERT [dbo].[LogMembershipSendPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (296, N'www@hakanhamzaoglu.com', 3, N'178.240.143.38', CAST(0xA4010313 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogMembershipSendPasswordRenewalCodes] OFF
/****** Object:  Table [dbo].[LogMembershipRegisterReSendCodes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMembershipRegisterReSendCodes](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[Result] [tinyint] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Log_Mem_Reg_ReSendCodes] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogMembershipRegisterReSendCodes] ON
INSERT [dbo].[LogMembershipRegisterReSendCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (91, N'hakan2@hakanhamzaoglu.com', 1, N'88.238.97.150', CAST(0xA3FF039B AS SmallDateTime))
INSERT [dbo].[LogMembershipRegisterReSendCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (92, N'hakan2@hakanhamzaoglu.com', 4, N'88.238.97.150', CAST(0xA3FF039B AS SmallDateTime))
INSERT [dbo].[LogMembershipRegisterReSendCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (93, N'www@hakanhamzaoglu.com', 1, N'::1', CAST(0xA400004B AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogMembershipRegisterReSendCodes] OFF
/****** Object:  Table [dbo].[LogMembershipRegisterCheckCodes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMembershipRegisterCheckCodes](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[Result] [tinyint] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Log_Mem_Reg_CheckCodes] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogMembershipRegisterCheckCodes] ON
INSERT [dbo].[LogMembershipRegisterCheckCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (46, N'2@hakanhamzaoglu.com', 0, N'178.240.143.38', CAST(0xA401031E AS SmallDateTime))
INSERT [dbo].[LogMembershipRegisterCheckCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (47, N'5@hakanhamzaoglu.com', 0, N'::1', CAST(0xA40202D1 AS SmallDateTime))
INSERT [dbo].[LogMembershipRegisterCheckCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (48, N'mehmet@ltsyazilim.com', 0, N'85.99.226.201', CAST(0xA4020233 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogMembershipRegisterCheckCodes] OFF
/****** Object:  Table [dbo].[LogMembershipLogins]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMembershipLogins](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[Result] [tinyint] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_LogMembershipLogins] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogMembershipLogins] ON
INSERT [dbo].[LogMembershipLogins] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (51, N'gsdgsd', 3, N'178.240.143.38', CAST(0xA40102F0 AS SmallDateTime))
INSERT [dbo].[LogMembershipLogins] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (52, N'www@hakanhamzaoglu.com', 4, N'::1', CAST(0xA40104D0 AS SmallDateTime))
INSERT [dbo].[LogMembershipLogins] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (53, N'sdfasdf', 3, N'178.240.143.38', CAST(0xA4010303 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogMembershipLogins] OFF
/****** Object:  Table [dbo].[LogMembershipCheckPasswordRenewalCodes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMembershipCheckPasswordRenewalCodes](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NULL,
	[Result] [tinyint] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_LogMembershipCheckPasswordRenewalCodes] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogMembershipCheckPasswordRenewalCodes] ON
INSERT [dbo].[LogMembershipCheckPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (40, N'www@hakanhamzaoglu.com', 7, N'178.240.143.38', CAST(0xA4010319 AS SmallDateTime))
INSERT [dbo].[LogMembershipCheckPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (41, N'www@hakanhamzaoglu.com', 0, N'178.240.143.38', CAST(0xA4010319 AS SmallDateTime))
INSERT [dbo].[LogMembershipCheckPasswordRenewalCodes] ([LogId], [Email], [Result], [IP], [CreatedOn]) VALUES (42, N'4@hakanhamzaoglu.com', 0, N'178.240.143.38', CAST(0xA4010381 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LogMembershipCheckPasswordRenewalCodes] OFF
/****** Object:  Table [dbo].[Firms]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firms](
	[FirmId] [int] IDENTITY(1,1) NOT NULL,
	[FirmName] [nvarchar](100) NOT NULL,
	[CountyId] [int] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone1] [nvarchar](17) NOT NULL,
	[Phone2] [nvarchar](17) NULL,
	[Fax] [nvarchar](17) NULL,
	[MobilePhone] [nvarchar](17) NULL,
	[Email] [nvarchar](64) NULL,
	[WebSite] [nvarchar](64) NULL,
	[TaxOffice] [nvarchar](30) NOT NULL,
	[TaxNo] [nvarchar](10) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedOn] [smalldatetime] NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[UpdatedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_Firms] PRIMARY KEY CLUSTERED 
(
	[FirmId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Firms] ON
INSERT [dbo].[Firms] ([FirmId], [FirmName], [CountyId], [Address], [Phone1], [Phone2], [Fax], [MobilePhone], [Email], [WebSite], [TaxOffice], [TaxNo], [CreatedBy], [IsApproved], [ApprovedBy], [ApprovedOn], [CreatedOn], [UpdatedOn]) VALUES (14, N'Karamsa', 848, N'Kargı Çıkmazı No:2/1 Cerrahpaşa', N'2125465465', NULL, N'2132165465', N'5322118390', NULL, N'http://hakanhamzaoglu.com', N'Karaçalı', N'0002525363', 19, 1, 15, CAST(0xA40E0102 AS SmallDateTime), CAST(0xA40803BB AS SmallDateTime), CAST(0xA40804B3 AS SmallDateTime))
INSERT [dbo].[Firms] ([FirmId], [FirmName], [CountyId], [Address], [Phone1], [Phone2], [Fax], [MobilePhone], [Email], [WebSite], [TaxOffice], [TaxNo], [CreatedBy], [IsApproved], [ApprovedBy], [ApprovedOn], [CreatedOn], [UpdatedOn]) VALUES (15, N'Hakan Lojistik', 644, N'Cadde Sokak', N'5558889996', NULL, NULL, N'5322118390', N'hakan@hakanhamzaoglu.com', NULL, N'Sefer', N'0022113366', 20, 1, 15, CAST(0xA40E0100 AS SmallDateTime), CAST(0xA40803F5 AS SmallDateTime), CAST(0xA40804E9 AS SmallDateTime))
INSERT [dbo].[Firms] ([FirmId], [FirmName], [CountyId], [Address], [Phone1], [Phone2], [Fax], [MobilePhone], [Email], [WebSite], [TaxOffice], [TaxNo], [CreatedBy], [IsApproved], [ApprovedBy], [ApprovedOn], [CreatedOn], [UpdatedOn]) VALUES (16, N'Ekan Lojistik', 453, N'Teknopark Sokak Teknopark Ap. No:112', N'4534534534', NULL, N'2342342344', N'5492641804', N'ekanmehmetoyman@hotmail.com', NULL, N'Başakşehir', N'2222222222', 32, 1, 14, CAST(0xA40D0170 AS SmallDateTime), CAST(0xA4090297 AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[Firms] OFF
/****** Object:  Table [dbo].[DefVehicleTypes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefVehicleTypes](
	[VehicleTypeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[VehicleTypeName] [nvarchar](30) NOT NULL,
	[VehicleWidth] [decimal](7, 2) NOT NULL,
	[VehicleLength] [decimal](7, 2) NOT NULL,
	[VehicleHeight] [decimal](7, 2) NOT NULL,
	[VehicleVolume] [decimal](10, 2) NOT NULL,
	[VehicleDesi] [int] NOT NULL,
	[VehicleWeight] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_DefVehicleTypes] PRIMARY KEY CLUSTERED 
(
	[VehicleTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefVehicleTypes] ON
INSERT [dbo].[DefVehicleTypes] ([VehicleTypeId], [VehicleTypeName], [VehicleWidth], [VehicleLength], [VehicleHeight], [VehicleVolume], [VehicleDesi], [VehicleWeight], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (26, N'Eryertyerty', CAST(1.11 AS Decimal(7, 2)), CAST(3.33 AS Decimal(7, 2)), CAST(4.44 AS Decimal(7, 2)), CAST(16.41 AS Decimal(10, 2)), 5471, 312321, 15, CAST(0xA40C0317 AS SmallDateTime), 1, 15, CAST(0xA40C0321 AS SmallDateTime))
INSERT [dbo].[DefVehicleTypes] ([VehicleTypeId], [VehicleTypeName], [VehicleWidth], [VehicleLength], [VehicleHeight], [VehicleVolume], [VehicleDesi], [VehicleWeight], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (27, N'Tır Tenteli', CAST(2.45 AS Decimal(7, 2)), CAST(13.60 AS Decimal(7, 2)), CAST(2.65 AS Decimal(7, 2)), CAST(88.30 AS Decimal(10, 2)), 29433, 28000, 14, CAST(0xA40D00D6 AS SmallDateTime), 1, 42, CAST(0xA4310355 AS SmallDateTime))
INSERT [dbo].[DefVehicleTypes] ([VehicleTypeId], [VehicleTypeName], [VehicleWidth], [VehicleLength], [VehicleHeight], [VehicleVolume], [VehicleDesi], [VehicleWeight], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (28, N'40 Ayak', CAST(2.45 AS Decimal(7, 2)), CAST(9.60 AS Decimal(7, 2)), CAST(2.60 AS Decimal(7, 2)), CAST(61.15 AS Decimal(10, 2)), 20384, 20000, 14, CAST(0xA40D00D7 AS SmallDateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DefVehicleTypes] OFF
/****** Object:  Table [dbo].[DefProductUnits]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefProductUnits](
	[ProductUnitId] [tinyint] IDENTITY(1,1) NOT NULL,
	[ProductUnitName] [nvarchar](10) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_DefLoadUnits] PRIMARY KEY CLUSTERED 
(
	[ProductUnitId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefProductUnits] ON
INSERT [dbo].[DefProductUnits] ([ProductUnitId], [ProductUnitName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (3, N'Hakan', 15, CAST(0xA40C02D6 AS SmallDateTime), 1, 15, CAST(0xA40C031F AS SmallDateTime))
INSERT [dbo].[DefProductUnits] ([ProductUnitId], [ProductUnitName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (4, N'Kilo', 15, CAST(0xA40C0315 AS SmallDateTime), 1, 15, CAST(0xA40C0316 AS SmallDateTime))
INSERT [dbo].[DefProductUnits] ([ProductUnitId], [ProductUnitName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (5, N'Deneme', 15, CAST(0xA40C031E AS SmallDateTime), 1, 15, CAST(0xA40C031F AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DefProductUnits] OFF
/****** Object:  Table [dbo].[DefProductTypes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefProductTypes](
	[ProductTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_DefProductTypes] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefProductTypes] ON
INSERT [dbo].[DefProductTypes] ([ProductTypeId], [ProductTypeName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (1, N'Zzzz', 15, CAST(0xA40C0342 AS SmallDateTime), 1, 15, CAST(0xA40C0343 AS SmallDateTime))
INSERT [dbo].[DefProductTypes] ([ProductTypeId], [ProductTypeName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (2, N'Yok', 15, CAST(0xA40C0342 AS SmallDateTime), 1, 15, CAST(0xA40C0343 AS SmallDateTime))
INSERT [dbo].[DefProductTypes] ([ProductTypeId], [ProductTypeName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (3, N'Ayakkabı', 15, CAST(0xA40D00A1 AS SmallDateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DefProductTypes] OFF
/****** Object:  Table [dbo].[DefProductProperties]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefProductProperties](
	[ProductPropertyId] [smallint] IDENTITY(1,1) NOT NULL,
	[ProductPropertyName] [nvarchar](50) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_DefProductProperties] PRIMARY KEY CLUSTERED 
(
	[ProductPropertyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefProductProperties] ON
INSERT [dbo].[DefProductProperties] ([ProductPropertyId], [ProductPropertyName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (1, N'Narin', 15, CAST(0xA40C0335 AS SmallDateTime), 0, NULL, NULL)
INSERT [dbo].[DefProductProperties] ([ProductPropertyId], [ProductPropertyName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (2, N'Soğuk Hava Ürünü', 15, CAST(0xA40C0335 AS SmallDateTime), 0, NULL, NULL)
INSERT [dbo].[DefProductProperties] ([ProductPropertyId], [ProductPropertyName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (3, N'Koku Yayan Ürün', 15, CAST(0xA40C0336 AS SmallDateTime), 0, 15, CAST(0xA40C0336 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DefProductProperties] OFF
/****** Object:  Table [dbo].[DefProductPackages]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefProductPackages](
	[ProductPackageId] [tinyint] IDENTITY(1,1) NOT NULL,
	[ProductPackageName] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_DefProductPackages] PRIMARY KEY CLUSTERED 
(
	[ProductPackageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefProductPackages] ON
INSERT [dbo].[DefProductPackages] ([ProductPackageId], [ProductPackageName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (1, N'Koli', 15, CAST(0xA40D0098 AS SmallDateTime), 0, NULL, NULL)
INSERT [dbo].[DefProductPackages] ([ProductPackageId], [ProductPackageName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (2, N'Palet', 15, CAST(0xA40D0098 AS SmallDateTime), 0, NULL, NULL)
INSERT [dbo].[DefProductPackages] ([ProductPackageId], [ProductPackageName], [CreatedBy], [CreatedOn], [IsDeleted], [DeletedBy], [DeletedOn]) VALUES (3, N'Bag', 42, CAST(0xA4310356 AS SmallDateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DefProductPackages] OFF
/****** Object:  Table [dbo].[DefOrderTypes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefOrderTypes](
	[OrderTypeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[OrderTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_DefOrderTypes] PRIMARY KEY CLUSTERED 
(
	[OrderTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefOrderTypes] ON
INSERT [dbo].[DefOrderTypes] ([OrderTypeId], [OrderTypeName]) VALUES (1, N'Komple araç arıyorum')
INSERT [dbo].[DefOrderTypes] ([OrderTypeId], [OrderTypeName]) VALUES (2, N'Araçta boş yer arıyorum')
INSERT [dbo].[DefOrderTypes] ([OrderTypeId], [OrderTypeName]) VALUES (3, N'Komple boş aracım var')
SET IDENTITY_INSERT [dbo].[DefOrderTypes] OFF
/****** Object:  Table [dbo].[DefLocationRegions]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefLocationRegions](
	[RegionId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CountryId] [tinyint] NOT NULL,
	[LocalCode] [tinyint] NOT NULL,
 CONSTRAINT [PK_DefLocationRegions] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefLocationCountries]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefLocationCountries](
	[CountryId] [tinyint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DefCountries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DefLocationCountries] ([CountryId], [Name]) VALUES (90, N'Türkiye')
/****** Object:  Table [dbo].[DefLocationCounties]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefLocationCounties](
	[CountyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CityId] [smallint] NOT NULL,
	[LocalCode] [smallint] NOT NULL,
 CONSTRAINT [PK_Counties] PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefLocationCounties] ON
INSERT [dbo].[DefLocationCounties] ([CountyId], [Name], [CityId], [LocalCode]) VALUES (1, N'Seyhan', 1, 1104)
INSERT [dbo].[DefLocationCounties] ([CountyId], [Name], [CityId], [LocalCode]) VALUES (2, N'Ceyhan', 1, 1219)
INSERT [dbo].[DefLocationCounties] ([CountyId], [Name], [CityId], [LocalCode]) VALUES (3, N'Feke', 1, 1329)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[DefLocationCounties] OFF
/****** Object:  Table [dbo].[DefLocationCities]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefLocationCities](
	[CityId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CountryId] [tinyint] NOT NULL,
	[LocalCode] [smallint] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefLocationCities] ON
INSERT [dbo].[DefLocationCities] ([CityId], [Name], [CountryId], [LocalCode]) VALUES (1, N'Adana', 90, 1)
INSERT [dbo].[DefLocationCities] ([CityId], [Name], [CountryId], [LocalCode]) VALUES (2, N'Adıyaman', 90, 2)
INSERT [dbo].[DefLocationCities] ([CityId], [Name], [CountryId], [LocalCode]) VALUES (3, N'Afyonkarahisar', 90, 3)
SET IDENTITY_INSERT [dbo].[DefLocationCities] OFF
/****** Object:  Table [dbo].[Module]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [varchar](50) NULL,
	[Description] [varchar](5000) NULL,
 CONSTRAINT [PK_tblModuleMaster] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Description]) VALUES (1, N'Module1', NULL)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Description]) VALUES (2, N'Module2', NULL)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Description]) VALUES (3, N'Module3', NULL)
SET IDENTITY_INSERT [dbo].[Module] OFF
/****** Object:  Table [dbo].[MembershipPasswordRenewals]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPasswordRenewals](
	[RenewalId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NOT NULL,
	[ActivateCode] [nvarchar](36) NOT NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MembershipPasswordRenewals] PRIMARY KEY CLUSTERED 
(
	[RenewalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MembershipPasswordRenewals] ON
INSERT [dbo].[MembershipPasswordRenewals] ([RenewalId], [Email], [ActivateCode], [IP], [CreatedOn]) VALUES (17, N'4@hakanhamzaoglu.com', N'd964d3f6-640f-4bbe-9bbc-ad0621bb9e01', N'::1', CAST(0xA4010560 AS SmallDateTime))
INSERT [dbo].[MembershipPasswordRenewals] ([RenewalId], [Email], [ActivateCode], [IP], [CreatedOn]) VALUES (20, N'3@hakanhamzaoglu.com', N'e5ad65ba-fd25-45fa-b33f-f066e37af835', N'::1', CAST(0xA40202D4 AS SmallDateTime))
INSERT [dbo].[MembershipPasswordRenewals] ([RenewalId], [Email], [ActivateCode], [IP], [CreatedOn]) VALUES (21, N'2@hakanhamzaoglu.com', N'673d2095-9b01-48d8-a536-939f063e5568', N'::1', CAST(0xA40202D5 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MembershipPasswordRenewals] OFF
/****** Object:  Table [dbo].[Membership]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](64) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Surname] [nvarchar](30) NULL,
	[StatusId] [tinyint] NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[LastLoginDate] [smalldatetime] NULL,
	[LastPasswordChangeDate] [smalldatetime] NULL,
	[Comment] [nvarchar](500) NULL,
	[VerifyOn] [smalldatetime] NULL,
	[IP] [nvarchar](15) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[UpdatedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Membership] ON
INSERT [dbo].[Membership] ([UserId], [Email], [Password], [Name], [Surname], [StatusId], [RoleId], [IsDeleted], [FailedPasswordAttemptCount], [LastLoginDate], [LastPasswordChangeDate], [Comment], [VerifyOn], [IP], [CreatedOn], [UpdatedOn]) VALUES (14, N'ekan@ltsyazilim.com', N'MqD0X3XQgL9MAjnzpbpZCziF3m8owp55NmGOLVFA9wfnkpPyov8vopO+ofb81Poe', N'Ekan', N'Oyman', 0, 3, 0, 5, CAST(0xA40D0171 AS SmallDateTime), CAST(0xA4060085 AS SmallDateTime), N'', CAST(0xA3FF039C AS SmallDateTime), N'88.238.97.150', CAST(0xA3FF039B AS SmallDateTime), CAST(0xA40D0171 AS SmallDateTime))
INSERT [dbo].[Membership] ([UserId], [Email], [Password], [Name], [Surname], [StatusId], [RoleId], [IsDeleted], [FailedPasswordAttemptCount], [LastLoginDate], [LastPasswordChangeDate], [Comment], [VerifyOn], [IP], [CreatedOn], [UpdatedOn]) VALUES (15, N'www@hakanhamzaoglu.com', N'kIcvByX7TBiQe4MnjF3mOHI/WobwY123DLOUZJNfg3cM9GDmCqYV7N38ZnA1/fKb', N'Hakan', N'Hamzaoğlu', 0, 3, 0, 28, CAST(0xA4120360 AS SmallDateTime), CAST(0xA40804E4 AS SmallDateTime), N'', CAST(0xA3FF040F AS SmallDateTime), N'::1', CAST(0xA400004B AS SmallDateTime), CAST(0xA4120360 AS SmallDateTime))
INSERT [dbo].[Membership] ([UserId], [Email], [Password], [Name], [Surname], [StatusId], [RoleId], [IsDeleted], [FailedPasswordAttemptCount], [LastLoginDate], [LastPasswordChangeDate], [Comment], [VerifyOn], [IP], [CreatedOn], [UpdatedOn]) VALUES (16, N'dere@hakanhamzaoglu.com', N'v7s1ZRcZXUbAX9PuSkPcpa0fPup1DQiRdzX6ZwhmYKHxNUFrdRIGSUi7CnBD+8lh', N'Hakan', N'Dere', 1, 0, 0, 0, NULL, NULL, N'645d0d8b-4f1f-4107-8d1b-bb934570f0ea', NULL, N'::1', CAST(0xA4000288 AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[Membership] OFF
/****** Object:  Table [dbo].[MemberRoles]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberRoles](
	[MemberRolesId] [int] NOT NULL,
	[RoleId] [int] NULL,
	[MemberId] [int] NULL,
 CONSTRAINT [PK_MemberRoles] PRIMARY KEY CLUSTERED 
(
	[MemberRolesId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_OrderStartPositions]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_OrderStartPositions](
	[OrderStartPositionId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[CountyId] [smallint] NOT NULL,
 CONSTRAINT [PK_OrderStartPositions] PRIMARY KEY CLUSTERED 
(
	[OrderStartPositionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_OrderEndPositions]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_OrderEndPositions](
	[OrderEndPositionId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[CountyId] [smallint] NOT NULL,
 CONSTRAINT [PK_OrderEndPositions] PRIMARY KEY CLUSTERED 
(
	[OrderEndPositionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapFirmToUser]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapFirmToUser](
	[MapId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MapBranchToUser] PRIMARY KEY CLUSTERED 
(
	[MapId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MapFirmToUser] ON
INSERT [dbo].[MapFirmToUser] ([MapId], [FirmId], [UserId], [IsAdmin], [IsActive], [CreatedOn]) VALUES (15, 14, 19, 1, 1, CAST(0xA40803BB AS SmallDateTime))
INSERT [dbo].[MapFirmToUser] ([MapId], [FirmId], [UserId], [IsAdmin], [IsActive], [CreatedOn]) VALUES (16, 15, 20, 1, 1, CAST(0xA40803F6 AS SmallDateTime))
INSERT [dbo].[MapFirmToUser] ([MapId], [FirmId], [UserId], [IsAdmin], [IsActive], [CreatedOn]) VALUES (17, 16, 32, 1, 1, CAST(0xA4090297 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MapFirmToUser] OFF
/****** Object:  Table [dbo].[OrderRoutes]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderRoutes](
	[OrderRootId] [bigint] NOT NULL,
	[OrderId] [bigint] NULL,
	[StartCountyId] [int] NULL,
	[EndCountyId] [int] NULL,
 CONSTRAINT [PK_OrderRoots] PRIMARY KEY CLUSTERED 
(
	[OrderRootId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProductProperties]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProductProperties](
	[OrderProductPropertiesId] [bigint] NOT NULL,
	[OrderDetailId] [bigint] NULL,
	[ProductPropertyId] [smallint] NULL,
 CONSTRAINT [PK_OrderProductProperties] PRIMARY KEY CLUSTERED 
(
	[OrderProductPropertiesId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [bigint] NOT NULL,
	[OrderRouteId] [bigint] NOT NULL,
	[OrderDetailType] [bit] NOT NULL,
	[LoadProductPackageId] [tinyint] NOT NULL,
	[LoadProductTypeId] [smallint] NOT NULL,
	[LoadProductWeight] [int] NOT NULL,
	[LoadProductVolume] [decimal](10, 2) NOT NULL,
	[LoadProductVisibleVolume] [decimal](10, 0) NOT NULL,
	[LoadProductVolumeVisibleUnitId] [tinyint] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Administrator1', N'I Am An Administrator2')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Role2', NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (4, N'Role3', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Orders]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderTypeId] [tinyint] NOT NULL,
	[VehicleTypeId] [tinyint] NOT NULL,
	[ProductTypeId] [smallint] NOT NULL,
	[ShippingDateTime] [datetime] NOT NULL,
	[DeliveryDateTime] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleRoleMapping]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleRoleMapping](
	[ModuleRoleMappingId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ModuleId] [int] NULL,
 CONSTRAINT [PK_ModuleRoleMapping] PRIMARY KEY CLUSTERED 
(
	[ModuleRoleMappingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ModuleRoleMapping] ON
INSERT [dbo].[ModuleRoleMapping] ([ModuleRoleMappingId], [RoleId], [ModuleId]) VALUES (14, 1, 2)
INSERT [dbo].[ModuleRoleMapping] ([ModuleRoleMappingId], [RoleId], [ModuleId]) VALUES (17, 1, 1)
SET IDENTITY_INSERT [dbo].[ModuleRoleMapping] OFF
/****** Object:  StoredProcedure [dbo].[ManageSelectCountyListForTreeView]    Script Date: 02/07/2015 09:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ManageSelectCountyListForTreeView]
AS
BEGIN
(SELECT        dbo.DefLocationCounties.CityId * 1000 AS CityId, dbo.DefLocationCounties.CountyId, dbo.DefLocationCounties.Name
FROM            dbo.DefLocationCities INNER JOIN
                         dbo.DefLocationCounties ON dbo.DefLocationCities.CityId = dbo.DefLocationCounties.CityId
)
UNION
(SELECT        0 AS CityId, dbo.DefLocationCities.CityId * 1000, dbo.DefLocationCities.Name
FROM            dbo.DefLocationCities) ORDER BY Name
END
GO
/****** Object:  Table [dbo].[MemberRoleMapping]    Script Date: 02/07/2015 09:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberRoleMapping](
	[RoleMappingId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_MemeberRoleMapping] PRIMARY KEY CLUSTERED 
(
	[RoleMappingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MemberRoleMapping] ON
INSERT [dbo].[MemberRoleMapping] ([RoleMappingId], [RoleId], [MemberId]) VALUES (1, 1, 14)
INSERT [dbo].[MemberRoleMapping] ([RoleMappingId], [RoleId], [MemberId]) VALUES (2, 1, 16)
SET IDENTITY_INSERT [dbo].[MemberRoleMapping] OFF
/****** Object:  StoredProcedure [dbo].[AdministratorSelectUnapprovedFirms]    Script Date: 02/07/2015 09:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdministratorSelectUnapprovedFirms]
AS
BEGIN
SELECT        Firms.FirmId, Firms.FirmName, Firms.CreatedOn, DefLocationCounties.Name AS CountyName, DefLocationCities.Name AS CityName, 
                         Membership.Name + ' ' + Membership.Surname AS [User]
FROM            Firms INNER JOIN
                         Membership ON Firms.CreatedBy = Membership.UserId LEFT OUTER JOIN
                         DefLocationCities INNER JOIN
                         DefLocationCounties ON DefLocationCities.CityId = DefLocationCounties.CityId ON Firms.CountyId = DefLocationCounties.CountyId
WHERE Firms.IsApproved = 'false'
ORDER BY Firms.CreatedOn DESC
END
GO
/****** Object:  StoredProcedure [dbo].[AdministratorSelectUnApprovedFirmDetails]    Script Date: 02/07/2015 09:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdministratorSelectUnApprovedFirmDetails]
(
@FirmId int
)
AS
BEGIN
SELECT  Firms.FirmId,
		Firms.FirmName,
		Firms.CreatedOn,
		DefLocationCounties.Name AS CountyName,
		DefLocationCities.Name AS CityName, 
		Membership.Name + ' ' + Membership.Surname AS [User], 
		DefLocationCountries.Name, 
		Membership.UserId, 
		Firms.Address, 
        Firms.Email, 
		Firms.WebSite, 
		Firms.TaxOffice, 
		'(' + SUBSTRING(Firms.Phone1,1,3) + ') ' + SUBSTRING(Firms.Phone1,4,3) + ' ' + SUBSTRING(Firms.Phone1,7,2) + ' ' + SUBSTRING(Firms.Phone1,9,2)  AS Phone1,
		'(' + SUBSTRING(Firms.Phone2,1,3) + ') ' + SUBSTRING(Firms.Phone2,4,3) + ' ' + SUBSTRING(Firms.Phone2,7,2) + ' ' + SUBSTRING(Firms.Phone2,9,2)  AS Phone2,
		'(' + SUBSTRING(Firms.Fax,1,3) + ') ' + SUBSTRING(Firms.Fax,4,3) + ' ' + SUBSTRING(Firms.Fax,7,2) + '' + SUBSTRING(Firms.Fax,9,2)  AS Fax,
		'(' + SUBSTRING(Firms.MobilePhone,1,3) + ') ' + SUBSTRING(Firms.MobilePhone,4,3) + ' ' + SUBSTRING(Firms.MobilePhone,7,2) + '' + SUBSTRING(Firms.MobilePhone,9,2)  AS MobilePhone,
		 SUBSTRING(Firms.TaxNo,1,3) + '-' + SUBSTRING(Firms.TaxNo,4,3) + '-' + SUBSTRING(Firms.TaxNo,7,2) + '-' + SUBSTRING(Firms.TaxNo,9,2)  AS TaxNo
FROM					 DefLocationCountries INNER JOIN
                         DefLocationCities INNER JOIN
                         DefLocationCounties ON DefLocationCities.CityId = DefLocationCounties.CityId ON DefLocationCountries.CountryId = DefLocationCities.CountryId RIGHT OUTER JOIN
                         Firms INNER JOIN
                         Membership ON Firms.CreatedBy = Membership.UserId ON DefLocationCounties.CountyId = Firms.CountyId
WHERE        (Firms.FirmId = @FirmId) AND (Firms.IsApproved = 'false')
ORDER BY Firms.CreatedOn DESC
END
GO
/****** Object:  StoredProcedure [dbo].[AdministratorSelectFirms]    Script Date: 02/07/2015 09:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdministratorSelectFirms]
AS
BEGIN
SELECT        Firms.FirmId, Firms.FirmName, Firms.CreatedOn, DefLocationCounties.Name AS CountyName, DefLocationCities.Name AS CityName, 
                         Membership.Name + ' ' + Membership.Surname AS [User]
FROM            Firms INNER JOIN
                         Membership ON Firms.CreatedBy = Membership.UserId LEFT OUTER JOIN
                         DefLocationCities INNER JOIN
                         DefLocationCounties ON DefLocationCities.CityId = DefLocationCounties.CityId ON Firms.CountyId = DefLocationCounties.CountyId
WHERE Firms.IsApproved = 'true'
ORDER BY Firms.CreatedOn DESC
END
GO
/****** Object:  StoredProcedure [dbo].[AdministratorSelectFirmDetails]    Script Date: 02/07/2015 09:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdministratorSelectFirmDetails]
(
@FirmId int
)
AS
BEGIN
SELECT  Firms.FirmId,
		Firms.FirmName,
		Firms.CreatedOn,
		DefLocationCounties.Name AS CountyName,
		DefLocationCities.Name AS CityName, 
		Membership.Name + ' ' + Membership.Surname AS [User], 
		DefLocationCountries.Name, 
		Membership.UserId, 
		Firms.Address, 
        Firms.Email, 
		Firms.WebSite, 
		Firms.TaxOffice, 
		'(' + SUBSTRING(Firms.Phone1,1,3) + ') ' + SUBSTRING(Firms.Phone1,4,3) + ' ' + SUBSTRING(Firms.Phone1,7,2) + ' ' + SUBSTRING(Firms.Phone1,9,2)  AS Phone1,
		'(' + SUBSTRING(Firms.Phone2,1,3) + ') ' + SUBSTRING(Firms.Phone2,4,3) + ' ' + SUBSTRING(Firms.Phone2,7,2) + ' ' + SUBSTRING(Firms.Phone2,9,2)  AS Phone2,
		'(' + SUBSTRING(Firms.Fax,1,3) + ') ' + SUBSTRING(Firms.Fax,4,3) + ' ' + SUBSTRING(Firms.Fax,7,2) + '' + SUBSTRING(Firms.Fax,9,2)  AS Fax,
		'(' + SUBSTRING(Firms.MobilePhone,1,3) + ') ' + SUBSTRING(Firms.MobilePhone,4,3) + ' ' + SUBSTRING(Firms.MobilePhone,7,2) + '' + SUBSTRING(Firms.MobilePhone,9,2)  AS MobilePhone,
		 SUBSTRING(Firms.TaxNo,1,3) + '-' + SUBSTRING(Firms.TaxNo,4,3) + '-' + SUBSTRING(Firms.TaxNo,7,2) + '-' + SUBSTRING(Firms.TaxNo,9,2)  AS TaxNo
FROM					 DefLocationCountries INNER JOIN
                         DefLocationCities INNER JOIN
                         DefLocationCounties ON DefLocationCities.CityId = DefLocationCounties.CityId ON DefLocationCountries.CountryId = DefLocationCities.CountryId RIGHT OUTER JOIN
                         Firms INNER JOIN
                         Membership ON Firms.CreatedBy = Membership.UserId ON DefLocationCounties.CountyId = Firms.CountyId
WHERE        (Firms.FirmId = @FirmId) AND (Firms.IsApproved = 'true')
ORDER BY Firms.CreatedOn DESC
END
GO
/****** Object:  Default [DF_DefLoadKinds_IsDeleted]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[DefProductPackages] ADD  CONSTRAINT [DF_DefLoadKinds_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_DefLoadProperties_IsDeleted]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[DefProductProperties] ADD  CONSTRAINT [DF_DefLoadProperties_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_DefProductTypes_IsDeleted]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[DefProductTypes] ADD  CONSTRAINT [DF_DefProductTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_DefLoadUnits_IsDeleted]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[DefProductUnits] ADD  CONSTRAINT [DF_DefLoadUnits_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_DefVehicleTypes_IsActive]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[DefVehicleTypes] ADD  CONSTRAINT [DF_DefVehicleTypes_IsActive]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Firms_IsApproved]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Firms] ADD  CONSTRAINT [DF_Firms_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
/****** Object:  Default [DF_Firms_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Firms] ADD  CONSTRAINT [DF_Firms_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_LogMembershipCheckPasswordRenewalCodes_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[LogMembershipCheckPasswordRenewalCodes] ADD  CONSTRAINT [DF_LogMembershipCheckPasswordRenewalCodes_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_LogMembershipLogins_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[LogMembershipLogins] ADD  CONSTRAINT [DF_LogMembershipLogins_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_Log_Membership_Register_ReSendVeriCodes_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[LogMembershipRegisterReSendCodes] ADD  CONSTRAINT [DF_Log_Membership_Register_ReSendVeriCodes_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_Log_Error_SendingMail_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[LogSystemMailSend] ADD  CONSTRAINT [DF_Log_Error_SendingMail_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_MapFirmToUser_IsAdmin]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MapFirmToUser] ADD  CONSTRAINT [DF_MapFirmToUser_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
/****** Object:  Default [DF_MapBranchToUser_IsActive]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MapFirmToUser] ADD  CONSTRAINT [DF_MapBranchToUser_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_MapBranchToUser_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MapFirmToUser] ADD  CONSTRAINT [DF_MapBranchToUser_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_Membership_StatusId]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_StatusId]  DEFAULT ((1)) FOR [StatusId]
GO
/****** Object:  Default [DF_Users_IsDeleted]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  Default [DF_Membership_FailedPasswordAttemptCount]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_FailedPasswordAttemptCount]  DEFAULT ((0)) FOR [FailedPasswordAttemptCount]
GO
/****** Object:  Default [DF_Users_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Users_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_MembershipPasswordRenewals_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MembershipPasswordRenewals] ADD  CONSTRAINT [DF_MembershipPasswordRenewals_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_Orders_IsActive]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Orders_CreatedOn]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  ForeignKey [FK_MemeberRoleMapping_Membership]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MemberRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_MemeberRoleMapping_Membership] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Membership] ([UserId])
GO
ALTER TABLE [dbo].[MemberRoleMapping] CHECK CONSTRAINT [FK_MemeberRoleMapping_Membership]
GO
/****** Object:  ForeignKey [FK_MemeberRoleMapping_Roles]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[MemberRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_MemeberRoleMapping_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[MemberRoleMapping] CHECK CONSTRAINT [FK_MemeberRoleMapping_Roles]
GO
/****** Object:  ForeignKey [FK_ModuleRoleMapping_ModuleRoleMapping]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[ModuleRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_ModuleRoleMapping_ModuleRoleMapping] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([ModuleId])
GO
ALTER TABLE [dbo].[ModuleRoleMapping] CHECK CONSTRAINT [FK_ModuleRoleMapping_ModuleRoleMapping]
GO
/****** Object:  ForeignKey [FK_ModuleRoleMapping_Roles]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[ModuleRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_ModuleRoleMapping_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[ModuleRoleMapping] CHECK CONSTRAINT [FK_ModuleRoleMapping_Roles]
GO
/****** Object:  ForeignKey [FK_Orders_DefOrderTypes]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DefOrderTypes] FOREIGN KEY([OrderTypeId])
REFERENCES [dbo].[DefOrderTypes] ([OrderTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DefOrderTypes]
GO
/****** Object:  ForeignKey [FK_Orders_DefProductTypes]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DefProductTypes] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[DefProductTypes] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DefProductTypes]
GO
/****** Object:  ForeignKey [FK_Orders_DefVehicleTypes]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DefVehicleTypes] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[DefVehicleTypes] ([VehicleTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DefVehicleTypes]
GO
/****** Object:  ForeignKey [FK_Orders_Firms]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Firms] FOREIGN KEY([FirmId])
REFERENCES [dbo].[Firms] ([FirmId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Firms]
GO
/****** Object:  ForeignKey [FK_Orders_Membership]    Script Date: 02/07/2015 09:47:42 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Membership] FOREIGN KEY([UserId])
REFERENCES [dbo].[Membership] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Membership]
GO
