
@{
    ViewBag.Title = "Yönetim";
    Layout = "~/Views/Shared/_Manage.cshtml";
}

<div class="padding-10">
    <table style="width: 100%">
        <tr>
            <td style="width:100%">
                <h2>
                    <i class="fa fa-cog" style="padding: 0px 18px 0px 10px"></i>Yönetim Paneli
                </h2>
            </td>
            <td></td>
        </tr>
    </table>
    <hr />
</div>


